ul li {
  margin-block: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.details p {
  margin-bottom: 1.2rem;
}
#bantuan-ulMenu {
  margin-block: 0.5rem;
}
.bg-active {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 767px) {
  #navbar-default ul {
    background-color: white;
  }
}
