@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Wireframe";
  src: url(../../public/assets/Font/ModernWarfare.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(../../public/assets/Font/Arial/ARIAL.woff), url(../../public/assets/Font/Arial/ArialMdm.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
